@import "./src/assets/scss/variables";

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 1.8rem 0rem 1.8rem;
}

.container a {
    text-decoration: none;
    color: white;
}

.container span {
    background-color: $backgroundDark;
    padding: 0.2rem 0.2rem 0.1rem 1rem;
}

@mixin title {
    padding-bottom: 1.5rem;
    padding-top: 0.3rem;
    font-size: 1.5rem;
    justify-self: flex-start;
    align-self: start;
}

.sectionTitle {
    @include title;
}

.box {
    height: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    color: white;
}

.sectionExtra {
    @include title;
    padding-top: 1.5rem;
}

@mixin chart {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: flex-start;
}

.chartSection {
    @include chart;
}

.chartSectionExtra {
    width: 800px;
}

.chartWithLegend {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.legend {
    align-self: flex-start;
    justify-self: flex-start;
}

.sectionSummary {
    display: flex;
    flex-direction: column;
    font-size: medium;
    align-self: flex-end;
    padding-bottom: 30px;
    padding-right: 30px;
}

.buttonArea {
    padding: 20px;
}
